<div class="container col-md-12 pt-3 pr-3 pb-1 pl-2 mx-auto">
  <div class="row col-12 text-center">
    <h1 class="style-title">PROJECTS</h1>
  </div>

  <div class="row mx-auto">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <div class="card-header text-center">
          <img
            src="https://appliedblockchain.com/assets/images/carousel/technologies/ethereum.png"
            alt="Ethereum Icon"
            width="300px"
            height="200px"
          />
        </div>
        <div class="card-body">
          <h2 class="style-profile pt-1">
            Name:
            <a
              href="https://github.com/shrutidaundkar/identity-auth-using-ethereum"
              class="style-profile pt-2 link-style"
            >
              Identity Chain
            </a>
          </h2>
          <ul class="style-description">
            <li>
              The Identity Authentication using Ethereum project is a
              decentralized application (dApp) that utilizes the Ethereum
              blockchain to enable secure authentication and verification of
              user identities.
            </li>
            <li>
              The project is built using the Solidity programming language and
              the Truffle development framework, and it employs the concept of
              smart contracts to ensure that all authentication transactions are
              transparent, tamper-proof, and immutable.
            </li>
            <li>
              The dApp allows users to create an account, which is stored on the
              blockchain, and then use that account to authenticate themselves
              on various websites and applications. The authentication process
              involves the use of public-private key pairs and cryptographic
              signatures, which ensures that only the authorized user can access
              their account.
            </li>
          </ul>
        </div>
        <div class="card-footer text-center">
          For more information about Ethereum Click
          <a href="https://ethereum.org/en/">here</a>.
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <div class="card-header text-center">
          <img
            src="../../assets/images/angular.png"
            alt="Angular.Js Icon"
            width="300px"
            class="image-style"
          />
        </div>
        <div class="card-body">
          <h2 class="style-profile pt-1">
            Name:
            <a
              href="https://github.com/shrutidaundkar/fun-translation-using-angular"
              class="style-profile pt-2 link-style"
            >
              Fun transalation using Angular.Js</a
            >
          </h2>
          <ul class="style-description">
            <li>
              Fun translations is a mini project I worked on last year to learn
              Angular.Js. The project is a web application that accepts normal
              English messages and translates them into fun languages such as
              Minionese, Yoda, and Pirate. The project's main goal was to learn
              Angular.Js and explore the capabilities of an open-source API for
              language translation.
            </li>
            <li>
              I used Angular.Js to develop the front end of the application,
              implementing a responsive and user-friendly interface that allows
              users to enter their messages and select the fun language they
              want to translate to. An open-source API powered the application's
              backend for language translation, which I integrated into the
              application using Angular.Js.
            </li>
          </ul>
        </div>
        <div class="card-footer">
          For more information about Angular Click
          <a href="https://angularjs.org/">here</a>.
        </div>
      </div>
      <div class="col-md-2 col-sm-0"></div>
    </div>
  </div>
</div>
