<div class="container m-auto col-lg-4 col-md-7 col-sm-10 pt-5">
  <div class="card">
    <form [formGroup]="contactForm">
      <h1 class="card-header text-center">Contact Form</h1>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-12">
            <label for="name">Name:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              formControlName="name"
              [class.is-invalid]="
                contactForm.controls['name'].invalid &&
                contactForm.controls['name'].touched
              "
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              formControlName="email"
              [class.is-invalid]="getEmail()?.invalid && getEmail()?.touched"
            />
            <small
              *ngIf="getEmail()?.invalid && getEmail()?.touched"
              class="text-small text-danger"
              >Please enter valid email address!</small
            >
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="message">Message:</label>
            <textarea
              type="text"
              id="message"
              name="message"
              class="form-control"
              formControlName="message"
              [class.is-invalid]="
                getMessage()?.invalid && getMessage()?.touched
              "
            ></textarea>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="button"
          id="submit"
          class="btn submit-style btn-default"
          [disabled]="!contactForm.valid"
          (click)="onSubmit()"
        >
          Send
          <img src="../../assets/images/send.png" alt="Send icon" width="20" />
        </button>
        <button
          type="button"
          id="reset"
          class="btn reset-style btn-default"
          (click)="this.contactForm.reset()"
        >
          Reset
          <img src="../../assets/images/undo.png" alt="Reset icon" width="20" />
        </button>
      </div>
    </form>
  </div>
</div>
