.btn {
  font-size: large;
  font-weight: bold;
}
.submit-style {
  background-color: var(--light-blue);
  width: 48%;
  margin: 0 2% 0 0;
}
.reset-style {
  background-color: var(--light-blue);
  width: 48%;
  margin: 0 0 0 2%;
}
