/* You can add global styles to this file, and also import other style files */
:root {
  --white: #ffffff;
  --black: #080808;
  --dark-blue: #0a2a5c;
  --blue: #1349a1;
  --light-blue: #1f72f8;
}

body {
  background-color: #b4d6e7;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
