:root {
  --white: #ffffff;
  --black: #080808;
  --gray: #a3a7a9;
  --dark-blue: #0a2a5c;
  --blue: #80c7ea;
  --light-blue: #b4d6e7;
}

body {
  background-color: var(--light-blue);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
