<div class="container pt-4 pr-3 pb-1 pl-2 mx-auto">
  <ul>
    <li class="row col-12">
      <h1 class="work-title">WORK EXPERIENCE</h1>
      <ul>
        <li>
          <h2 class="work-profile pt-2">Associate Software Engineer</h2>
          <h3 class="work-info">
            Xoriant Solutions Pvt. Ltd. Pune, India (Jul 2021 - Aug 2022)
          </h3>
          <ul class="work-description">
            <li>
              Trained and certified in React.Js, Angular.Js and Java full stack
              development technologies to gain comprehensive knowledge of the
              entire software engineering cycle.
            </li>
            <li>
              Provided technical support by efficiently writing scripts to query
              the database and attain desired results, minimizing response time
              by 30%.
            </li>
          </ul>
        </li>
        <li>
          <h2 class="work-profile pt-2">Subject Expert</h2>
          <h3 class="work-info">Chegg Inc Pune, India (Oct 2019 - Apr 2021)</h3>

          <ul class="work-description">
            <li>
              Provided support to students in Computer Science courses,
              including Microprocessor, C/C++/Java coding assignments, and
              Theory of Computation.
            </li>
            <li>
              Demonstrated expertise in these subjects by answering student
              questions, providing feedback on assignments, and explaining
              complex concepts in a clear and concise manner.
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="row pt-5 col-12">
      <h1 class="work-title">LEADERSHIP EXPERIENCE</h1>
      <ul>
        <li>
          <h2 class="work-profile pt-2">Personality Development Director</h2>
          <h3 class="work-info">
            Rotaract Club of Pune Vibrant East Pune, India (Jul 2020 - Jun 2021)
          </h3>
          <ul class="work-description">
            <li>
              Designed interactive sessions to impart knowledge on interview
              skills & etiquette for 100+ attendees, contributing to an
              improvement in job placements.
            </li>
            <li>
              Facilitated Blood Donation Camps to support local hospitals in
              need of blood supplies, contributing 100 units of donated blood.
              Coordinated Slow Cycling Senior Citizens events to promote
              physical activity & engagement with the community, impacting over
              80 senior citizens.
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
