<div class="container col-md-12 pt-3 pr-3 pb-1 pl-2 mx-auto">
  <div class="row mx-auto">
    <div class="col-lg-3 col-md-2 col-sm-0"></div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="row pt-3">
        <div class="card">
          <div class="card-header text-center">
            <h1 class="style-profile">WORK EXPERIENCE</h1>
          </div>
          <div class="card-body">
            <ul>
              <li>
                <h2 class="style-profile pt-2">Associate Software Engineer</h2>
                <h3 class="style-info">
                  Xoriant Solutions Pvt. Ltd. Pune, India (Jul 2021 - Aug 2022)
                </h3>
                <ul class="style-description">
                  <li>
                    Trained and certified in React.Js, Angular.Js and Java full
                    stack development technologies to gain comprehensive
                    knowledge of the entire software engineering cycle.
                  </li>
                  <li>
                    Provided technical support by efficiently writing scripts to
                    query the database and attain desired results, minimizing
                    response time by 30%.
                  </li>
                </ul>
              </li>
              <li>
                <h2 class="style-profile pt-4">Subject Expert</h2>
                <h3 class="style-info">
                  Chegg Inc Pune, India (Oct 2019 - Apr 2021)
                </h3>

                <ul class="style-description">
                  <li>
                    Provided support to students in Computer Science courses,
                    including Microprocessor, C/C++/Java coding assignments, and
                    Theory of Computation.
                  </li>
                  <li>
                    Demonstrated expertise in these subjects by answering
                    student questions, providing feedback on assignments, and
                    explaining complex concepts in a clear and concise manner.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="card">
          <div class="card-header text-center">
            <h1 class="style-profile">LEADERSHIP EXPERIENCE</h1>
          </div>
          <div class="card-body">
            <ul>
              <li>
                <h2 class="style-profile pt-2">
                  Personality Development Director
                </h2>
                <h3 class="style-info">
                  Rotaract Club of Pune Vibrant East Pune, India (Jul 2020 - Jun
                  2021)
                </h3>
                <ul class="style-description">
                  <li>
                    Designed interactive sessions to impart knowledge on
                    interview skills & etiquette for 100+ attendees,
                    contributing to an improvement in job placements.
                  </li>
                  <li>
                    Facilitated Blood Donation Camps to support local hospitals
                    in need of blood supplies, contributing 100 units of donated
                    blood. Coordinated Slow Cycling Senior Citizens events to
                    promote physical activity & engagement with the community,
                    impacting over 80 senior citizens.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-0"></div>
  </div>
</div>
<noscript>Your browser does not support JavaScript!</noscript>
