.header {
  padding: 0px;
  margin: 0px;
}
.nav {
  background-color: var(--dark-blue);
  min-width: 414px;
  max-height: 80px;
  padding-left: 0;
  margin: 0;
}
.nav-item {
  list-style-type: none;
  display: inline-flex;
}
.nav-link {
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 10px;
  margin: 0px;
}
.nav-link:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}
.nav-link:active {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}
.nav-link:focus,
.nav-link:focus-visible {
  background-color: var(--blue);
  color: var(--dark-blue);
}
.profile-icon-style {
  max-width: 20px;
}
