<nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        <img
          src="../assets/images/student.png"
          class="profile-icon-style"
          alt="About Icon"
        />
        About</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="previous-work">Previous Work</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Contact</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
