<div class="container">
  <div class="container-style">
    <div class="row row-style align-center">
      <div class="image-style col-lg-5 col-md-12 col-sm-12">
        <img
          src="../../assets/images/shruti.jpg"
          class="img-sizing"
          alt="Headshot of Shruti Daundkar"
        />
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12">
        <h1 class="name-style">Shruti Daundkar</h1>
        <p class="introduction-para-style">
          Hello, my name is Shruti, and I am a graduate student at PSU. As a
          software developer, I am always eager to learn new technologies and
          enhance my skills. During my undergrad, I took a course on web
          development, where we developed a tendering system using the MEAN
          stack. This project helped me gain hands-on experience in web
          development, database management, and backend technologies. I am
          proficient in languages such as Java, C, C++, Solidity, Python, and
          JavaScript. My knowledge of frameworks such as AngularJS, Hibernate,
          Spring, and Spring Boot, as well as libraries like ReactJS, has been
          instrumental in my journey as a software developer.
        </p>
        <p class="introduction-para-style">
          One of my most significant projects was a banking application using
          Spring Boot and AngularJS, which showcased my expertise in web
          application development and database management. I also worked on
          IdentityChain, an Ethereum-based identity authentication system, and a
          blockchain-based E-procurement system, which aimed to streamline
          procurement processes for businesses. I am passionate about
          participating in hackathons to develop innovative software solutions,
          as demonstrated by my recognition as a
          <b>winner in the Smart India Hackathon 2018</b>.
        </p>
        <div class="text-left p-1">
          <span class="p-1">
            <a href="https://www.linkedin.com/in/shrutidaundkar1/"
              ><img
                src="../../assets/images/linkedin.png"
                width="30"
                alt="linkedin icon"
              />
            </a>
          </span>
          <span class="p-1">
            <a href="https://github.com/shrutidaundkar">
              <img
                src="../../assets/images/github.png"
                width="30"
                alt="Github icon"
              />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
